.services__overlay {
    width: 300px;
    height: 142px;
    position: absolute;
    bottom: 3px;
    right: 0;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 15px 55px 0px rgba(0, 0, 0, 0.08);
}

@media (max-width: 990px) {
    .services__overlay {
        left: 0;
    }
}